html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.truss {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: bisque;

    .drawWin {
        height: 100%;
        width: 60%;
        background-color: brown;
    }

    .showWin {
        height: 100%;
        width: 40%;
        background-color: chocolate;
    }
}

.only {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.draw {
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    box-sizing: border-box;

    .right {
        width: calc(100vw - 60px);
        height: 100%;
        // background-color: blueviolet;
        .canvas {
            width: 100%;
            height: calc(100% - 40px);
            // background-color: burlywood;
        }
    }

    .head {
        width: 100%;
        height: 40px;
        background-color: aquamarine;
        display: flex;
        li {
            list-style-type: none;
            width: 40px;
            height: 40px;
            // background-color: rgb(255, 255, 255);
            margin-left: 10px;
        }
    }

    .left {
        width: 60px;
        height: 100%;
        background-color: beige;
        .leftButton {
            margin: 0;
            padding: 0;
            li {
                // display: block;
                list-style-type: none;
                // background-color: rgb(190, 125, 45);
                width: 40px;
                height: 40px;
                margin: 10px;
                border-radius: 2px;
                background-size: cover;
            }
            li:hover:not(.logo) {
                background-color: rgb(102, 102, 102);
            }
            .logo {
                background-image: url('../assets/test.jpg');
            }
        }
    }
}

.show {
    height: 100%;
    width: 100%;
    background-color: blue;
}

li {
    &.choose {
        background-color: rgb(255, 0, 0);
    }
    &.move {
        background-color: rgb(255, 174, 0);
    }
    &.grab {
        background-color: rgb(255, 251, 0);
    }
    &.delete {
        background-color: rgb(119, 255, 0);
    }
    &.point {
        background-color: rgb(0, 255, 76);
    }
    &.line {
        background-color: rgb(0, 255, 242);
    }
    &.constraint2 {
        background-color: rgb(0, 149, 255);
    }
    &.constraint1 {
        background-color: rgb(38, 0, 255);
    }
    &.load {
        background-color: rgb(255, 0, 255);
    }
}

