html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.truss {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: bisque;

    .drawWin {
        height: 100%;
        width: 60%;
        background-color: brown;
    }

    .showWin {
        height: 100%;
        width: 40%;
        background-color: chocolate;
    }
}

.only {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.draw {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    box-sizing: border-box;

    .right {
        width: calc(100vw - 60px);
        height: 100%;
        // background-color: blueviolet;
        .canvas {
            width: 100%;
            height: calc(100% - 40px);
            // background-color: burlywood;
        }
    }

    .head {
        width: 100%;
        height: 40px;
        background-color: #e5e5e5;
        display: flex;
        user-select: none; /* 禁止文字选择 */
        -webkit-user-select: none; /* 适用于Safari */
        -moz-user-select: none; /* 适用于旧版本的Firefox */
        -ms-user-select: none; /* 适用于IE 10+ */

        li {
            list-style-type: none;
            width: 30px;
            height: 30px;
            margin: 5px;
            background-color: #2C2C2C;
            margin-left: 10px;
            &.grab {
                mask: url('../assets/grab.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.point {
                mask: url('../assets/point.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.line {
                mask: url('../assets/line.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
                cursor: pointer;
            }
            &.constraint2 {
                mask: url('../assets/constraint2.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.constraint1 {
                mask: url('../assets/constraint1.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.load {
                mask: url('../assets/load.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.save {
                mask: url('../assets/save.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
        }
        .line {
            input:not(.color) {
                width: 80px;
                height: 15px;
            }
            .color {
                width: 40px;
                height: 20px;
            }
            .list {
                display: inline-block;
                width: 80px;
                padding: 4px;
            }
        }
    }

    .left {
        width: 50px;
        height: 100%;
        background-color: #2c2c2c;
        .leftButton {
            margin: 0;
            padding: 0;
            li {
                // display: block;
                list-style-type: none;
                width: 50px;
                height: 50px;
                padding-left: 1px;
                background-size: cover;
                cursor: pointer;
                & > div {
                    width: 49px;
                    height: 50px;
                    background-color: #2c2c2c;
                    padding: 10px 10px 10px 9px;
                }
                &:hover {
                    div:not(.box) {
                        background-color: #ffffff;
                    }
                }
            }
            li.clicked {
                background-color: #ffffff;
                div:not(.box) {
                    background-color: #ffffff;
                }
            }
            .logo {
                background-image: url("../assets/test.jpg");
                width: 30px;
                height: 30px;
                margin: 10px;
            }
        }
        div {
            width: 30px;
            height: 30px;
            background-color: #808080;
            &.grab {
                mask: url('../assets/grab.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.point {
                mask: url('../assets/point.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.line {
                mask: url('../assets/line.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.constraint2 {
                mask: url('../assets/constraint2.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.constraint1 {
                mask: url('../assets/constraint1.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.load {
                mask: url('../assets/load.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
            &.save {
                mask: url('../assets/save.svg') no-repeat center; /* 指定掩膜图像 */
                mask-size: contain; /* 保持掩膜比例 */
            }
        }
    }
}

.show {
    height: 100%;
    width: 100%;
    background-color: rgb(228, 228, 228);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .makings {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1001;
        input:not(.color) {
            width: 80px;
            height: 15px;
        }
        .color {
            width: 40px;
            height: 20px;
        }
        .list {
            display: inline-block;
            width: 80px;
            padding: 4px;
        }
        .button {
            height: 15px;
            user-select: none; /* 禁止文字选择 */
            -webkit-user-select: none; /* 适用于Safari */
            -moz-user-select: none; /* 适用于旧版本的Firefox */
            -ms-user-select: none; /* 适用于IE 10+ */
        }
        .button:hover {
            color: #0000008a;
        }
        .divlist {
            display: inline-block;
        }
    }
}

.show {
    .head {
        width: 100%;
        height: 40px;
        background-color: #e5e5e5;
        display: flex;
    }
    .canvas {
        width: 100%;
        height: calc(100% - 40px);
        // background-color: burlywood;
    }
}

div.canvas {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 2px #f3f3f3;
    background-color: #ffffff;
}
