.truss {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: bisque;

    .drawWin {
        height: 100%;
        width: 60%;
        background-color: brown;
    }

    .showWin {
        height: 100%;
        width: 40%;
        background-color: chocolate;
    }
}

.only {
    width: 100vw;
    height: 100vh;
}

.draw {
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;

    .head {
        width: 100%;
        height: 40px;
        background-color: aquamarine;
    }

    .left {
        width: 60px;
        height: 100%;
        background-color: beige;
        .leftButton {
            margin: 0;
            padding: 0;
            li {
                // display: block;
                list-style-type: none;
                background-color: rgb(190, 125, 45);
                width: 40px;
                height: 40px;
                margin: 10px;
                border-radius: 2px;
                background-size: cover;
            }
            li:not(.logo) {
                border: 1px solid black;
            }
            li:hover:not(.logo) {
                box-shadow: 0px 0px 3px rgb(102, 102, 102);
            }
            .logo {
                background-image: url('../assets/test.jpg');
            }
        }
    }
}

.show {
    height: 100%;
    width: 100%;
    background-color: blue;
}